:root {
  --primarycolor: #2d2d2d;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: var(--primarycolor);
}

img {
  max-width: 100px;
}

li {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#future {
  display: flex;
  flex-wrap: wrap;
}

.btn-outline-dark {
  color: var(--primarycolor);
  border-color: var(--primarycolor);
}

.btn:hover {
  background-color: var(--primarycolor);
  border-color: var(--primarycolor);
}

.card {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
