:root {
  --primarycolor: #2d2d2d;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: var(--primarycolor);
}

.btn-outline-dark {
  color: var(--primarycolor);
  border-color: var(--primarycolor);
}

.btn:hover {
  background-color: var(--primarycolor);
  border-color: var(--primarycolor);
}
